<!DOCTYPE html>
<html lang="en">

<head>

    {{>body}}
    {{>header}}
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-10 col-12 main_header_left">
                        <figure class="err">
                            <img src="img/error.jpg" alt="">
                        </figure>
                        <p>welcome to weather app</p>
                        <h1>Get The Latest <span class="text_clr">Weather</span> Info of your city</h1>
                        <a href="/weather"><button>check now</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
</body>

</html>