<!DOCTYPE html>
<html lang="en">

<head>
    {{>body}}
    {{>header}}
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-2 col-12">
                <div>
                    <div class="side_datail">
                        <h3 id="humidity" class="data_hide"></h3>
                        <h3>Humidity</h3>
                    </div>
                    <div class="side_datail">
                        <h3 id="pressure" class="data_hide"></h3>
                        <h3>pressure</h3>
                    </div>
                    <div class="side_datail">
                        <h3 id="visibility" class="data_hide"></h3>
                        <h3>visibility</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form action="" class="temp_form">
                        <div class="lab">
                            <label for="">Enter Your City Name</label>
                        </div>
                        <input type="text" name=" " id="cityname" placeholder="Enter your city name" value=" "
                            autocomplete="off">
                        <input type="submit" value="Search" id="submitBtn">
                    </form>
                </div>
                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day">Tuesday</p>
                        <p id="today_date"></p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get output</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="tempval">0</span> <sup>O</sup>C</p>
                            <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}
    <script src="script/main.js"></script>
</body>

</html>